
:root {
    --cor1: #03045e; 
    --cor2: #0077b6; 
    --cor3: #00b4d8; 
    --cor4: #90e0ef; 
    --cor5: #caf0f8;  
  }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #c7d2fe;
}

#container {
    width: 700px;
    max-width: 4000px;
}

.input-group {
    display: flex;
    align-items: center;
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 8px 16px;
    border-radius: 24px;
    gap: 8px;
    margin-bottom: 16px;
}

.input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    background-color: var(--cor1);
    color: var(--cor5);
}

.input-pesquisa {
    width: 100%;
    border: none;
    background-color: var(--cor4);
    color: var(--cor1);
    outline: none;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #fff;
    border-radius: 24px;
    padding: 14px;
    max-height: 421px;
    overflow-y: auto;
}

.item {
    display: flex;
    gap: 12px;
}

.item-image img {
    width: 100px;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
}

.item-title {
    font-size: 18px;
    color: #333;
}

.item-subtitle,
.item-description {
    font-size: 14px;
    color: #666;
}

.view-button{
    background-color: var(--cor3);
    color: var(--cor1);
}
.view-button {
    background-color: var(--cor3);
    color: var(--cor1);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .view-button:hover {
    background-color: var(--cor2);
  }

#no_results {
    text-align: center;
    color: #666;
}
