body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #90e0ef; /* Cor de fundo */
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #03045e; /* Cor da parte superior */
    padding: 30px;
  }
  
  .header-icon {
    cursor: pointer;
    width: 50px; /* Ajuste o tamanho conforme necessário */
  }
  
  .topo-direita {
    margin-left: auto; /* Isso empurra o botão para a esquerda */
    display: flex; /* Para garantir que os itens sejam exibidos corretamente */
    align-items: center; /* Alinhar verticalmente o botão */
  }
  
  .topo-direita button {
    background-color: #0077b6; /* Cor do botão */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px; /* Adiciona um espaço à direita do botão */
  }
  
  .info-box {
    background-color: #90e0ef; /* Cor do conteúdo */
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .big-image {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .user-info-form input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #0077b6;
    border-radius: 5px;
    color: #000;
  }
  
  .button {
    background-color: #00b4d8; /* Cor do botão */
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cards-section {
    display: flex;
    flex-wrap: wrap;
    color: black;
  }
  
  .info-item {
    background-color: #08b731; /* Cor dos cartões */
    border: 1px solid #0077b6;
    padding: 10px; /* Reduzir o padding */
    border-radius: 5px;
    margin: 8px; /* Reduzir a margem */
    flex: 1 0 20%; /* Ajuste a largura do cartão para 20% */
  }
  